In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

# Leitura de Arquivos

In [2]:
#Economic Freedom World
path_efw = "../2 - Arquivo Tratado/efw_cc.csv" 

path_bill = "../2 - Arquivo Tratado/2022_forbes_billionaires.csv"
path_happy = "../2 - Arquivo Tratado/Happy_2019.csv"
path_HDI = "../2 - Arquivo Tratado/Human Development Index.csv"
path_suicide = "../2 - Arquivo Tratado/Suicide_master.csv"

#Arquivos complementares de PIB e População
path_pop = "../2 - Arquivo Tratado/populationbycountry19802010millions.csv"
path_GDP = "../2 - Arquivo Tratado/GDP/gdp.csv"

#Percepção de Corrupção
path_corr = "../2 - Arquivo Tratado/Corruption/history.csv"

#Melhores Paises para Startups
path_star = "../2 - Arquivo Tratado/Best Countries/Best Countries for Startups.csv"

#Expectativas de Vida
#path_life = "../2 - Arquivo Tratado/Life expectancy.csv"

#Gastos Militares em USD
path_militar = "../2 - Arquivo Tratado/Military Expenditure.csv"

#Salário Mínimo em USD
#path_MW = "../2 - Arquivo Tratado/MINIMUM_WAGES.csv"

In [3]:
data_efw = pd.read_csv(path_efw, sep=',')

data_bill = pd.read_csv(path_bill, sep=',')
data_happy = pd.read_csv(path_happy, sep=',')
data_HDI = pd.read_csv(path_HDI, sep=',')
data_suicide = pd.read_csv(path_suicide, sep=',')

data_pop = pd.read_csv(path_pop, sep=',', index_col = 0)
data_GDP = pd.read_csv(path_GDP, sep=',', index_col = 0)

data_corr = pd.read_csv(path_corr, sep=',')
data_star = pd.read_csv(path_star, sep=',')
#data_life = pd.read_csv(path_life, sep=',')
data_militar = pd.read_csv(path_militar, sep=',')
#data_MW = pd.read_csv(path_MW, sep=',')

# Primeira vizualização e tratamento dos datasets.

In [4]:
#Escolha dos Países a Serem Analizados
countries = np.array(['Brazil', 'Denmark','Germany', 'South Korea', 'New Zealand', 'United States', 'Venezuela'])

In [5]:
#Padronizando Nomes de Estudo
data_efw['countries'] = data_efw['countries'].str.replace('Korea, South', 'South Korea')

data_bill.drop('Unnamed: 0', axis=1, inplace=True)
data_bill.set_index('rank')
data_bill['networth']=data_bill['networth'].str.replace('$','', regex=True)
data_bill['networth']=data_bill['networth'].str.replace(' B','', regex=True)
data_bill['networth']=data_bill['networth'].apply(pd.to_numeric)

data_HDI['Country'][184] = 'Venezuela'
data_HDI['Country'][90] = 'South Korea'

#Removendo Espaços em Branco
data_HDI['Country'] = data_HDI['Country'].str.strip()

data_suicide['country'][data_suicide['country'] == 'Republic of Korea'] = 'South Korea'

data_pop.rename(index={'Korea, South':'South Korea'},inplace=True)

data_GDP.rename(index={'Venezuela, RB':'Venezuela'},inplace=True)
data_GDP.rename(index={'Korea, Rep.':'South Korea'},inplace=True)

data_corr["Country"][data_corr["Country"] == 'The United States of America'] = 'United States'
data_corr["Country"][data_corr["Country"] == 'Korea (South)'] = 'South Korea'

In [6]:
datas = [data_efw,
         data_bill, 
         data_happy, 
         data_HDI, 
         data_suicide, 
         data_pop, 
         data_GDP, 
         data_corr, 
         data_star, 
         #data_life,
         data_militar]
         #data_MW]

In [7]:
# Verificando os dados para Análise
d = datas[0].countries.unique()
print(len(d[np.in1d(d, countries)]))

# Apenas o datas[4] e datas[8] não possuem dados sobre Venezuela

7

# Criação dos Dataframes de Estudo.

In [8]:
#def df (dataframe):
pais = countries[0]
#testando com Countrie = Brazil

In [33]:
std = datas[0][datas[0]['countries'] == pais].sort_values(by='year')
std = std.reset_index()
a = std.drop(columns=['index','ISO_code','countries']) #, inplace=True)
a.head(5)

,year,ECONOMIC FREEDOM,rank,quartile,1a_government_consumption,1b_transfers,1c_gov_enterprises,1d_top_marg_tax_rate,1_size_government,2a_judicial_independence,...,3_sound_money,4a_tariffs,4b_regulatory_trade_barriers,4c_black_market,4d_control_movement_capital_ppl,4_trade,5a_credit_market_reg,5b_labor_market_reg,5c_business_reg,5_regulation
0,1970,5.28,38.0,3.0,7.592824,5.925412,4.0,7.0,6.129559,NaN,...,5.988946,5.600000,NaN,7.2,0.0,4.266667,6.442776,NaN,NaN,5.241611
1,1975,4.19,56.0,4.0,7.705882,4.713896,4.0,5.0,5.354945,NaN,...,3.998385,6.200000,NaN,0.2,0.0,2.133333,6.469469,NaN,NaN,5.249671
2,1980,3.92,86.0,4.0,8.338575,6.757493,2.0,4.0,5.274017,NaN,...,1.657490,3.333333,NaN,6.4,0.0,3.244444,5.262262,NaN,NaN,4.885140
3,1985,2.96,107.0,4.0,7.927279,7.411444,4.0,1.0,5.084681,NaN,...,0.000000,2.622222,NaN,0.2,0.0,0.940741,3.431765,NaN,NaN,4.332400
4,1990,4.23,98.0,4.0,4.545425,7.220708,7.0,5.5,6.066533,NaN,...,0.000000,4.844444,NaN,8.0,0.0,4.281481,4.403474,4.783633,NaN,4.593554

In [10]:
b = datas[1][datas[1]['country'] == pais].groupby(['country']).name.count()
c = datas[1][datas[1]['country'] == pais].groupby(['country']).networth.sum()

In [73]:
d = datas[2][datas[2]['Country or region'] == pais]
d

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
31,32,Brazil,6.3,1.004,1.439,0.802,0.39,0.099,0.086

In [74]:
std = datas[3][datas[3]['Country'] == pais].iloc[:,2:].transpose()
std = std.reset_index()
std.columns = ['year', 'HDI']
e = std
e['year'] = e.year.astype(int)
e

    year    HDI
0   1990  0.611
1   1991  0.615
2   1992  0.622
3   1993  0.630
4   1994  0.640
5   1995  0.648
6   1996  0.656
7   1997  0.664
8   1998  0.670
9   1999  0.676
10  2000  0.684
11  2001  0.691
12  2002  0.698
13  2003  0.695
14  2004  0.698
15  2005  0.700
16  2006  0.702
17  2007  0.705
18  2008  0.716
19  2009  0.718
20  2010  0.727
21  2011  0.731
22  2012  0.736
23  2013  0.748
24  2014  0.752
25  2015  0.757
26  2016  0.758
27  2017  0.759

In [128]:
std = datas[4][datas[4]['country'] == pais]
std = std.drop(columns=['country', 'sex', 'age', 'country-year', 'suicides/100k pop',
                  'gdp_per_capita ($)', 'generation'])#, inplace=True)

#std.iloc[:,4].unique()

std1 = std.iloc[:,:3].groupby(['year']).sum()
f0 = std1.reset_index()

f1 = pd.DataFrame(std.groupby(['year'])['HDI for year'].max())
f2 = pd.DataFrame(std.groupby(['year'])[' gdp_for_year ($) '].max())
ff = pd.concat([f1, f2], axis=1)
ff = ff.reset_index()

f = pd.concat([f0, ff], axis = 1)
f.columns = ['year', 'suicides_no', 'Population_2', 'year_2', 'HDI_2', 'GDP_2']

f['GDP_2'] = f['GDP_2'].str.replace(',','')
f['GDP_2'] = f.GDP_2.astype(float)
f.drop(columns=['year_2'], inplace=True)
f

    year  suicides_no  Population_2  HDI_2         GDP_2
0   1985         4228     117478900  0.576  2.229428e+11
1   1986         4271     118776400    NaN  2.681372e+11
2   1987         4672     122822467    NaN  2.940841e+11
3   1988         4466     125701294    NaN  3.303974e+11
4   1989         4463     128570308    NaN  4.255953e+11
5   1990         4803     131387553  0.608  4.619518e+11
6   1991         5156     134281850    NaN  6.028600e+11
7   1992         5207     137007021    NaN  4.005992e+11
8   1993         5508     139615477    NaN  4.377986e+11
9   1994         5896     142188450    NaN  5.581120e+11
10  1995         6536     144783591  0.648  7.693054e+11
11  1996         6698     147353130    NaN  8.504264e+11
12  1997         6891     149932627    NaN  8.831996e+11
13  1998         6922     152524311    NaN  8.637234e+11
14  1999         6507     155122073    NaN  5.993886e+11
15  2000         6763     157715991  0.683  6.554206e+11
16  2001         7710     160178796    NaN  5.593723e+11
17  2002         7697     162761414    NaN  5.079625e+11
18  2003         7839     165396911    NaN  5.583199e+11
19  2004         7995     167993068    NaN  6.693167e+11
20  2005         8529     170483960  0.702  8.916302e+11
21  2006         8618     172974722    NaN  1.107640e+12
22  2007         8855     175293192    NaN  1.397084e+12
23  2008         9184     177471632    NaN  1.695825e+12
24  2009         9346     179569551    NaN  1.667020e+12
25  2010         9429     181629712  0.737  2.208872e+12
26  2011         9822     183656441  0.742  2.616202e+12
27  2012        10295     185591215  0.746  2.465189e+12
28  2013        10513     187458852  0.752  2.472807e+12
29  2014        10631     189285554  0.755  2.455994e+12
30  2015        11163     191087085    NaN  1.802214e+12

In [40]:
std = pd.DataFrame(datas[5].loc[pais])
std = std.reset_index()
std.columns = ['year', 'Population']
g = std
g['year'] = g.year.astype(int)
g

    year Population
0   1980  123.01963
1   1981  125.99213
2   1982  129.02765
3   1983  131.96012
4   1984  134.69947
5   1985  137.38198
6   1986  140.19628
7   1987  143.02654
8   1988  145.87275
9   1989  148.65864
10  1990  151.17006
11  1991  153.58396
12  1992  156.03206
13  1993  158.51205
14  1994  161.01706
15  1995  163.54428
16  1996  166.08586
17  1997  168.63874
18  1998  171.20116
19  1999  173.76387
20  2000  176.31962
21  2001  178.86966
22  2002  181.41759
23  2003  183.95992
24  2004   186.4886
25  2005  188.99308
26  2006  191.46901
27  2007  193.91858
28  2008  196.34259
29  2009  198.73927
30  2010  201.10333

In [137]:
std = pd.DataFrame(datas[6].loc[pais][1:])
std = std.reset_index()
std.columns = ['year', 'GDP'] #PIB
h = std.iloc[:-1]
h['year'] = h.year.astype(int)
h['GDP'] = h.GDP.astype(float)
h

    year           GDP
0   1960           NaN
1   1961  1.727594e+10
2   1962  1.923175e+10
3   1963  2.328771e+10
4   1964  2.096373e+10
..   ...           ...
56  2016  1.795693e+12
57  2017  2.063515e+12
58  2018  1.916934e+12
59  2019  1.877824e+12
60  2020  1.444733e+12

[61 rows x 2 columns]

In [56]:
std = datas[7][datas[7]['Country'] == pais].iloc[:,4:]
std.columns = ['2016', '2015', '2014', '2013', '2012']
std = std.transpose()
std = std.reset_index()
std.columns = ['year', 'CPI']
i = std
i['year'] = i.year.astype(int)
i

   year   CPI
0  2016  40.0
1  2015  38.0
2  2014  43.0
3  2013  42.0
4  2012  43.0

In [17]:
std = datas[8][datas[8]['country'] == pais].iloc[:,[0,3]].transpose()
std.columns = ['Startups_Score_2020']
j = std
j

             Startups_Score_2020
ranking                   24.000
total score                7.326

In [60]:
std = datas[9][datas[9]['Name'] == pais]
std = std.iloc[:,4:].transpose()
std = std.reset_index()
std.columns = ['year', 'Military_Expenditure_USD']
k = std
k['year'] = k.year.astype(int)
k

    year  Military_Expenditure_USD
0   1960              3.827298e+08
1   1961              3.423397e+08
2   1962              3.874490e+08
3   1963              4.419996e+08
4   1964              3.542279e+08
5   1965              6.328690e+08
6   1966              7.182166e+08
7   1967              7.461392e+08
8   1968              7.553076e+08
9   1969              8.166228e+08
10  1970              1.026234e+09
11  1971              1.075071e+09
12  1972              1.195501e+09
13  1973              1.512671e+09
14  1974              1.790114e+09
15  1975              2.141127e+09
16  1976              2.576477e+09
17  1977              2.499645e+09
18  1978              2.690623e+09
19  1979              2.829161e+09
20  1980              2.259307e+09
21  1981              2.517860e+09
22  1982              3.031329e+09
23  1983              2.082669e+09
24  1984              2.013152e+09
25  1985              2.687050e+09
26  1986              2.758187e+09
27  1987              4.323675e+09
28  1988              5.874168e+09
29  1989              8.761487e+09
30  1990              9.236297e+09
31  1991              6.694665e+09
32  1992              4.993804e+09
33  1993              7.099899e+09
34  1994              1.059150e+10
35  1995              1.431892e+10
36  1996              1.407323e+10
37  1997              1.393427e+10
38  1998              1.435736e+10
39  1999              9.866974e+09
40  2000              1.134403e+10
41  2001              1.093023e+10
42  2002              9.664562e+09
43  2003              8.392906e+09
44  2004              9.780112e+09
45  2005              1.358862e+10
46  2006              1.640487e+10
47  2007              2.048576e+10
48  2008              2.445290e+10
49  2009              2.564881e+10
50  2010              3.400294e+10
51  2011              3.693621e+10
52  2012              3.398701e+10
53  2013              3.287479e+10
54  2014              3.265961e+10
55  2015              2.461770e+10
56  2016              2.422475e+10
57  2017              2.928305e+10
58  2018              2.776643e+10

# Unindo os DF

In [19]:
# 0 3 4 5 6 9 - DF por pais
# Letras - a e f g h k

# 1 2 7 8 - DF todos os paises
# Letras - b c d i j

In [167]:
df_std = pd.merge(a, e, how = 'outer', on = 'year')
df_std = pd.merge(df_std, f, how = 'outer', on = 'year')
df_std = pd.merge(df_std, g, how = 'outer', on = 'year')
df_std = pd.merge(df_std, h, how = 'outer', on = 'year')
df_std = pd.merge(df_std, k, how = 'outer', on = 'year')
df_std = df_std.sort_values(by='year').reset_index(drop=True)
df_std.tail(5)

,year,ECONOMIC FREEDOM,rank,quartile,1a_government_consumption,1b_transfers,1c_gov_enterprises,1d_top_marg_tax_rate,1_size_government,2a_judicial_independence,...,5c_business_reg,5_regulation,HDI,suicides_no,Population_2,HDI_2,GDP_2,Population,GDP,Military_Expenditure_USD
56,2016,5.75,144.0,4.0,4.714706,5.786374,4.0,6.0,5.12527,5.175664,...,3.590036,4.093309,0.758,NaN,NaN,NaN,NaN,NaN,1.795693e+12,2.422475e+10
57,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.759,NaN,NaN,NaN,NaN,NaN,2.063515e+12,2.928305e+10
58,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.916934e+12,2.776643e+10
59,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.877824e+12,NaN
60,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.444733e+12,NaN

In [162]:
df_std.columns

Index(['year', 'ECONOMIC FREEDOM', 'rank', 'quartile',
       '1a_government_consumption', '1b_transfers', '1c_gov_enterprises',
       '1d_top_marg_tax_rate', '1_size_government', '2a_judicial_independence',
       '2b_impartial_courts', '2c_protection_property_rights',
       '2d_military_interference', '2e_integrity_legal_system',
       '2f_legal_enforcement_contracts', '2g_restrictions_sale_real_property',
       '2h_reliability_police', '2i_business_costs_crime',
       '2j_gender_adjustment', '2_property_rights', '3a_money_growth',
       '3b_std_inflation', '3c_inflation', '3d_freedom_own_foreign_currency',
       '3_sound_money', '4a_tariffs', '4b_regulatory_trade_barriers',
       '4c_black_market', '4d_control_movement_capital_ppl', '4_trade',
       '5a_credit_market_reg', '5b_labor_market_reg', '5c_business_reg',
       '5_regulation', 'HDI', 'suicides_no', 'Population_2', 'HDI_2', 'GDP_2',
       'Population', 'GDP', 'Military_Expenditure_USD'],
      dtype='object')

In [166]:
df_std.describe()#.iloc[:,3].unique()

,year,ECONOMIC FREEDOM,rank,quartile,1a_government_consumption,1b_transfers,1c_gov_enterprises,1d_top_marg_tax_rate,1_size_government,2a_judicial_independence,...,5b_labor_market_reg,5c_business_reg,5_regulation,HDI,suicides_no,Population_2,HDI_2,GDP_2,GDP,Military_Expenditure_USD
count,61.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,18.000000,...,19.000000,18.000000,23.000000,28.000000,31.000000,3.100000e+01,10.000000,3.100000e+01,6.000000e+01,5.900000e+01
mean,1990.000000,5.623478,100.391304,3.434783,5.171122,6.987485,6.391304,5.782609,6.083130,4.524713,...,4.385896,3.932256,4.787944,0.693107,7310.096774,1.566482e+08,0.694900,1.022561e+12,7.126838e+11,1.005823e+10
std,17.752934,0.952378,23.908422,0.506870,1.295283,1.043889,2.291072,1.428811,0.675576,0.716619,...,0.383575,0.564809,0.372998,0.045084,2120.290835,2.279349e+07,0.064597,7.551780e+11,7.783058e+11,1.078779e+10
min,1960.000000,2.960000,38.000000,3.000000,4.128711,4.713896,2.000000,1.000000,5.084681,3.031088,...,3.839914,3.378130,4.093309,0.611000,4228.000000,1.174789e+08,0.576000,2.229428e+11,1.727594e+10,3.423397e+08
25%,1975.000000,5.515000,87.500000,3.000000,4.488012,6.141471,4.000000,5.500000,5.369409,4.215411,...,4.133314,3.483636,4.493790,0.662000,5357.500000,1.383112e+08,0.656750,4.849571e+11,1.471776e+11,1.901633e+09
50%,1990.000000,6.050000,103.000000,3.000000,4.705882,7.209413,7.000000,5.500000,6.129559,4.598296,...,4.394808,3.809059,4.875331,0.698000,6922.000000,1.577160e+08,0.719500,6.693167e+11,3.448187e+11,5.874168e+09
75%,2005.000000,6.205000,107.500000,4.000000,4.833824,7.824310,8.000000,6.250000,6.594218,5.083333,...,4.569052,4.177668,5.053549,0.728000,9019.500000,1.763824e+08,0.745000,1.532052e+12,9.456320e+11,1.419607e+10
max,2020.000000,6.460000,144.000000,4.000000,8.338575,8.980926,10.000000,8.000000,7.289833,5.550000,...,5.296847,5.470623,5.509461,0.759000,11163.000000,1.910871e+08,0.755000,2.616202e+12,2.616157e+12,3.693621e+10